/Library
/obj
/UserSettings
/Logs
.vsconfig
Analytics.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
/Temp
/.vs
AlmostEngine.csproj
AlmostEngine.ExcludeFromBuildTool.Editor.csproj
AlmostEngine.Shared.csproj
AlmostEngine.Shared.Editor.csproj
AlmostEngine.UltimateScreenshotCreator.Editor.csproj
/Builds
